#navlefthead
{
    background-color: brown;
    background: url('../assets/imgs/bg.jpg');
    background-size: cover;
}

.hide-card
{
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: 30px;
    margin-right: 0px;
    text-align: center;
}

.hide-card h2
{
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
    color:#fff;
}

.hide-card p
{
    font-size: 12px;
    margin-top: 0px;
    margin-block-end: 15px;
    color: #fff;
}

.hide-card img
{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 2px solid #fff;
}
